html,body{
    height: 100%;
}

.left-side{
    position: fixed;
    left: 0;
    top:0;
    height: 100%;
    overflow-y: auto;
    width: 250px;
    box-shadow: 1px 0px 1px rgba(0,0,0,.1);

    background-attachment: scroll, scroll, scroll, fixed;
    background-color: rgba(64, 71, 85, 1);
    background-position: bottom left, bottom right, top left, top center;
    background-repeat: no-repeat, no-repeat, repeat, no-repeat;
    background-size: 25em, 25em, auto, cover;
    color: white;
    cursor: default;
    text-align: center;
}

.left-side .inner{
    padding: 50px 0 20px 0;
}

.left-side .inner header a{
    margin: 2px 0;
    color: #3dc9b3;
    font-weight: bold;
}

.left-side .inner header img{
   width: 65%;
}

.right-side{
    padding: 20px 15px;
    box-sizing: border-box;
    margin-left: 250px;

}

ul.categories{
    margin-right: 15px;
    margin-top: 30px;
    text-align: left;
    padding-left: 50px;
    
}

ul.categories li a{
    color: #878E93;
    display: inline-block;
    margin-bottom: 5px;
    text-decoration: none;
    border: 0;
}

ul.categories li a i{
    margin-right: 5px;
}

ul.categories li a:hover{
    color:#fff;
}

ul.categories li a.active{
    color:#fff;
}

.right-side article{
    margin-bottom:70px
}

.right-side article header{
    text-align: left;
    padding-left: 50px;
    margin-top: 10px;

}
.right-side article header h2 a{
    color:#666666;
    margin-bottom: 0;
}
.right-side article header h2{
    color:#333;
    margin-bottom: 0;
}

.right-side article header .meta{

    margin-top: 5px;
}

.right-side article header .meta span{
    display: inline-block;
    margin-right: 10px;
    color:#999;
    font-size: 14px;
}

.right-side section.content{
    padding-left:50px;
    max-width: 960px;
}