input[type="text"],input[type="password"],textarea{
    &.form-control{
        outline: none;
        box-shadow: none;
        line-height: 34px;
        border: none;
        padding: 0 5px;
        resize:none;

        &:focus{
            outline: none;
            box-shadow: none;
        }


        &[disabled]{
            border: 0 solid #000;
        }
    }
}


textarea.form-control{
    padding: 5px;   
    line-height: 150%;


}
.fontmark{
    color: #D9D9D9;
    padding: 0 5px;

}

