.page.statistics{
    color:@gray-light;
    .visit{
        margin-right: 10px;
    }

    .comment{
        padding: 15px 0;
        img{
            float: left;
        }
        .message{
            margin-left: 80px;
            color:@gray-light;
            .info{
                display: inline-block;
                color:@gray-light;
                a.name{
                    color:@gray;
                    margin-right: 10px;

                }
            }

        }
    }
}