.avatar{
    padding-right: 15px;
    position: relative;
    &.small{
        max-height: 50px;
        max-width: 50px;
        border-right:1px #efefef solid;
        box-sizing: content-box;
    }
    .fa-edit{
        position: absolute;
        right: 20px;
        top:10px;
    }
}

.page.user{
    .item.username,.item.email{
        width: 200px;
    }
}