<div  class="margin" ng-controller="node.crud" crud-config='{"type":"post"}' crud-params='{"limit":"10"}'>

    <div style="margin-bottom: 10px">
        <a class="btn btn-info" ui-sref="create">create</a>
    </div>

    <div class="box">
    <!-- /.box-header -->
        <div class="box-body table-responsive  no-padding" ng-init="crud.query()">
            <table class="table crud">
                <thead>
                    <tr>
                        <th>标题</th>
                        <th>浏览量</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="post in crud.data.records">
                        <td>
                            <h5><a href="/twenty/post/{{post.id}}">{{post.title}}</a></h5>
                        </td>
                        <td><h5>{{post.statistic.view||0}}</h5></td>
                        <td class="operation">
                            <a class="btn btn-info list " href="#/edit/{{post.id}}">edit</a>
                            <a class="btn btn-danger list" ng-click="crud.remove(post, $index,true)">remove</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    <!-- /.box-body -->
        <div class="box-footer clearfix">
            <ul class="pagination pagination-sm inline">
                <li ng-repeat="page in crud.pagination.display">
                    <a ng-click="crud.goto(page)" ng-class="{active:page==crud.pagination.index}">{{page+1}}</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /.box -->

</div>
