<div class="page posts  vertical" ng-controller="node.crud" crud-config='{"type":"post"}' crud-params='{"limit":"10","populate":"tags"}'>
    <div class="page-head   pd10 list horizontal ">
        <div class="item">
            <img class="avatar small" ng-src="/{{user.avatar.path||'twenty/admin/images/512.png'}}" />
        </div>
        <div class="item push-middle" >
            <div>
                <a ui-sref="create">+ New Story</a>
            </div>
        </div>
    </div>
    <div class="page-body" >
        <div class=" page-left" >
            <div class="posts" ng-init="crud.query()">
                <div class="post pd20" ng-repeat="post in crud.data.records" ng-click="crud.get(post.id,{populate:'tags'})"  >
                    <h5>
                        <a class="title" href="/twenty/post/{{post.id}}">{{post.title}}</a>
                        <a class="pull-right action" ng-click="crud.remove(post, $index,true)">
                            <i class="fa fa-times"></i>
                        </a>
                        <a class="pull-right action" href="#/edit/{{post.id}}?populate=tags">
                            <i class="fa fa-edit"></i>
                        </a>
                    </h5>
                    <div class="brief">
                        <div class="" ng-if="post.brief" ng-bind-html="post.brief"></div>
                        <div class="" ng-if="!post.brief" ng-bind-html="post.content" ></div>
                    </div>
                    <div class="statistics pdv10">
                        <span class="statistic">{{post.createdAt | time:"YYYY-MM-DD"}}</span>
                        <span class="statistic">{{post.view||0}}</span>
                        <span class="statistic" ng-repeat="tag in post.tags">{{tag.name}}</span>
                    </div>
                </div>
            </div>
            <div class="pages clearfix">
                <ul class="pagination pagination-sm inline">
                    <li ng-repeat="page in crud.pagination.display">
                        <a ng-click="crud.goto(page)" ng-class="{active:page==crud.pagination.index}">{{page+1}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class=" page-right pd20 preview">
            <div >
                <h1 class="title">{{crud.data.detail.title}}</h1>
                <!--<div>{{crud.data.detail.content}}</div>-->
                <div ng-bind-html="crud.data.detail.content|markdown"></div>
            </div>
        </div>
    </div>
</div>
