<div class="page settings pd10" ng-controller="setting.crud">
    <div class="page-left all-100 ">
        <div class="list">
            <h5 class="title">
                Settings
            </h5>
            <div class="items">

                <div class="item" ng-repeat="(configName, configContent) in config">
                    <input type="text" class="form-control" disabled placeholder="字段名" ng-model="configName">
                    <input type="text" class="form-control" ng-model="config[configName]" placeholder="内容">
                    <a class="btn btn-danger" ng-click="delete(configName);">删除</a>
                </div>
            </div>

            <div class="item" ng-init="newConfig={}">
                <input type="text" class="form-control" placeholder="字段名" ng-model="newConfig.key">
                <input type="text" class="form-control" ng-model="newConfig.value" placeholder="内容">
                <a class="btn btn-primary" ng-click="add(newConfig.key, newConfig.value);newConfig={}">添加</a>
            </div>
        </div>
    </div>
    <div class="form-group">
        <a class="btn btn-danger" ng-click="reset()">reset</a>
        <a class="btn btn-primary" ng-click="save()">save</a>
        <label class="label label-info" ng-show="saved">saved</label>
    </div>
    </div>

</div>
