<div class="ink-flex vertical page user" ng-controller="user.edit" >
    <header class="column-group page-head pd20 list horizontal" >
        <div class="item avatar" node-upload='{"domain":"http://127.0.0.1:3000/avatar","attach":"user","field":"avatar","cb":"user.$$editing=\"basic\"","auto":true}'>
            <div>
                <img ng-src="/{{user.avatar.path}}">
                <i class="fa fa-edit" browse-trigger ng-show="!user.avatar.status"></i>
            </div>
            <div ng-show="user.avatar.status==1" ng-click="upload()">Update</div>
        </div>

        <div class="item ink-flex vertical push-middle">
                <h5>User name</h5>
                <input type="text" class="form-control"  placeholder="Enter ..." ng-disabled="!user.id||user.$$editing!=='basic'" ng-model="user.name">
        </div>
        <div class="item ink-flex vertical push-middle">
            <h5>Your email</h5>
            <input type="text" class="form-control"  placeholder="Enter ..." ng-disabled="!user.id||user.$$editing!=='basic'" ng-model="user.email">
        </div>
        <div class="item ink-flex vertical push-middle">
            <a class="btn btn-gray" ng-show="user.$$editing!='basic'" ng-click="user.$$editing='basic'">Edit</a>
            <a class="btn btn-primary" ng-show="user.$$editing=='basic'" ng-click="update({avatar:user.avatar,name:user.name,email:user.email})">Save</a>
            <a class="btn btn-danger" ng-show="user.$$editing=='basic'" ng-click="user.$$editing=false">Cancel</a>
        </div>
    </header>
    <div class="all-auto ink-flex">
        <div class="all-50 page-left pd20 list " >
            <h5 class="title">Custom Fields</h5>
            <div class="items">
                <div ng-repeat="(fieldName, fieldContent) in user" class="item clearfix" ng-show="!isSystemField(fieldName)&&fieldContent!==null&&fieldName!=='about'">
                    <input type="text" class="form-control" disabled placeholder="Field name" ng-model="fieldName">
                    <input type="text" class="form-control" disabled ng-model="fieldContent" placeholder="Content">
                    <a class="btn btn-danger pull-right" type="button" ng-click="user[fieldName]=null">Delete</a>
                </div>

                <div class="item clearfix" ng-init="newField={}">
                    <input type="text" class="form-control " placeholder="Field name" ng-disabled="!user.id"  ng-model="newFieldName">
                    <input type="text" class="form-control " ng-model="newFieldContent" ng-disabled="!user.id"  placeholder="Content">
                    <a class="btn btn-gray pull-right" type="button" ng-disabled="!user.id" ng-click="newField[newFieldName]=newFieldContent;update(newField);newFieldName='';newFieldContent='';">Add</a>
                </div>
            </div>
        </div>

        <div class="all-50 page-right pd20 list" >
            <h5 class="title">
                <span>About me</span>
                <a class="btn btn-gray" ng-show="user.$$editing!='about'" ng-click="user.$$editing='about'" ng-disabled="!user.id">Edit</a>
                <a class="btn btn-danger" ng-show="user.$$editing=='about'" ng-click="user.$$editing=false" ng-disabled="!user.id">Cancel</a>
                <a class="btn btn-blue" ng-show="user.$$editing=='about'" ng-click="update({about:user.about})&&(user.$$editing=false)" ng-disabled="!user.id">Save</a>
            </h5>
            <div class="pd20">
                <div class="" ng-show="user.$$editing!='about'" ng-bind-html="user.about|markdown" ></div>
                <textarea ng-model="user.about" ng-show="user.$$editing=='about'" class="form-control all-100 js-auto-resize" rows="20" placeholder="about me"></textarea>

            </div>

        </div>
    </div>
</div>
