script(src='./js/lib/jquery-1.10.2.min.js')
script(src='./js/lib/lodash.compat.min.js')
script(src='./js/lib/moment.min.js')
script(src='./js/lib/angular-file-upload-shim.min.js')
script(src='./js/lib/angular.min.js')
script(src='./js/lib/angular-file-upload.min.js')
script(src='./js/lib/angular-sanitize.min.js')
script(src='./js/lib/angular-resource.min.js')
script(src='./js/lib/angular-ui-router.min.js')
script(src='./js/lib/markdown.min.js')
script(type="text/javascript",src="./js/ngTagEditor/ngTagEditor.js")
script(type="text/javascript",src="./js/jquery.textarea_autosize.min.js")
//
script(src='./system/common/util.js')
script(src='./system/common/preload.js')
//posts
script(src='./js/lib/textAngular-sanitize.min.js')
script(src='./js/lib/textAngular.min.js')
script(src='./js/lib/rangy-core.js')
script(src='./js/lib/rangy-selectionsaverestore.js')
script(src='./modules/node/index.js')
script(src='./modules/node/create.js')
script(src='./system/node/edit.js')
script(src='./modules/node/upload.js')
script(src='./system/node/crud.js')
script(src='./system/node/detail.js')
script(src='./modules/admin/posts.js')
//category
script(src='./system/index/crud.js')
//user
script(src='./system/user/session.js')
script(src='./modules/user/edit.js')


//statistics
script(src='./modules/statistics/index.js')
script(src='./modules/statistics/board.js')
script(src='./modules/statistics/duoshuo.js')
script(src='./modules/statistics/visit.js')
script(src='./modules/comments/duoshuo.js')


//setting
script(src='./modules/setting/crud.js')
script(src='./modules/admin/admin.js')


//page helper init
script(src="./js/init.js")