script(src='./lib/jquery-1.10.2.min.js')
script(src='./lib/jquery.ui.widget.js')
script(src='./lib/jquery.iframe-transport.js')
script(src='./lib/jquery.fileupload.js')
script(src='./lib/lodash.compat.min.js')
script(src='./lib/moment.min.js')
script(src='./lib/angular-file-upload-shim.min.js')
script(src='./lib/angular.min.js')
script(src='./lib/angular-file-upload.min.js')
script(src='./lib/angular-sanitize.min.js')
script(src='./lib/angular-resource.min.js')
script(src='./lib/angular-ui-router.min.js')
script(src='./lib/markdown.min.js')
script(type="text/javascript",src="./lib/ngTagEditor/ngTagEditor.js")
script(src="./lib/plupload.full.min.js")
script(src="./lib/showdown.js")
script(src="./lib/showdown-image-upload.js")


script(src="./lib/codemirror/codemirror.js")
script(src="./lib/codemirror/addons/display/placeholder.js")


//
script(src='./system/common/util.js')
script(src='./system/common/preload.js')
script(src='./system/upload/upload.js')

//posts
//script(src='./modules/node/upload.js')
script(src='./system/node/crud.js')
//script(src='./system/node/detail.js')
script(src='./modules/post/codemirror.js')
script(src='./modules/post/create.js')
script(src='./modules/post/edit.js')
script(src='./modules/post/upload.js')
script(src='./modules/post/index.js')


//user
script(src='./system/user/session.js')
script(src='./system/user/edit.js')
script(src='./modules/user/index.js')


//statistics
script(src='./modules/statistic/board.js')
script(src='./modules/statistic/duoshuo.js')
script(src='./modules/statistic/visit.js')
//script(src='./modules/comments/duoshuo.js')
script(src='./modules/statistic/index.js')



//setting
script(src='./modules/setting/index.js')


//main module
script(src='./modules/admin/admin.js')


//page helper init
script(src="./modules/admin/init.js")