

script( src='/twenty/js/jquery.js' )
script( src='/twenty/js/waypoints.min.js' )
script( src='/twenty/js/bootstrap.min.js' )
script( src='/twenty/js/scripts.js' )
script( src='/twenty/js/jquery.flexslider.js' )
script( src='/twenty/js/modernizr.js' )
//script( src='/twenty/js/retina.js' )

script(src='/twenty/js/lib/lodash.compat.min.js')
script(src='/twenty/js/lib/moment.min.js')
script(src='/twenty/js/lib/angular.min.js')
script(src='/twenty/js/lib/angular-sanitize.min.js')
script(src='/twenty/js/lib/angular-resource.min.js')
script(src='/twenty/js/lib/angular-ui-router.min.js')
script(src="/twenty/js/lib/angular.ng-modules.js")

script(src='/twenty/system/common/util.js')
script(src="/twenty/system/common/preload.js")

//- script(src="/twenty/js/lib/skel.min.js")
//- script(src="/twenty/js/lib/skel-layers.min.js")
//- script(src="/twenty/js/lib/init.js")
