aside.left-side.sidebar-offcanvas
    // sidebar: style can be found in sidebar.less
    section.sidebar
        .logo
            a(href='/')
                img(src='/twenty/images/logo.svg',alt='User Image')
        .slogon
            | More than blogging
        .user-panel(styel)
            .info
                a Hello, {{user.name}}
                a(href="/user/logout") 退出
        // sidebar menu: : style can be found in sidebar.less
        ul.sidebar-menu
            li(ui-sref-active='active')
                a(ui-sref='create')
                    span New Stroy
            li.treeview(ui-sref-active='active')
                a(ui-sref='posts')
                    span Story
            li.treeview(ui-sref-active='active')
                a(ui-sref='statistics')
                    span Statistics
            li.treeview(ui-sref-active='active')
                a(ui-sref='user')
                    span Account
            li.treeview(ui-sref-active='active')
                a(ui-sref='setting')
                    span Settings


    // /.sidebar