

footer
    div.container
        div.row
            div.col-md-6
                ul.legals
                    li
                        | Copyright © 2014
                        a(href='https://zerojs.io/') &nbsp; zerojs.io
            div.col-md-6.credit
                p
                    | Designed &amp; Developed by
                    a(href='http://www.twentyjs.com/about') &nbsp;ZeroJS Team