meta(http-equiv='X-UA-Compatible', content='text/html; charset=utf-8; IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(name='description', content='')
meta(name='keywords', content='')

link( rel="shortcut icon", href="/twenty/favicon.ico" )
link( rel='stylesheet', href="/twenty/css/font-awesome.min.css" )
link( rel='stylesheet', href="/twenty/css/bootstrap.min.css" )
link( rel='stylesheet', href="/twenty/css/flexslider.css" )
link( rel='stylesheet', href="/twenty/css/styles.css" )
link( rel='stylesheet', href="/twenty/css/queries.css" )
link( rel='stylesheet', href="/twenty/css/animate.css" )
link( rel='stylesheet', href="/twenty/css/post.css" )

