

script( src='./js/jquery.js' )
script( src='./js/waypoints.min.js' )
script( src='./js/bootstrap.min.js' )
script( src='./js/scripts.js' )
script( src='./js/jquery.flexslider.js' )
script( src='./js/modernizr.js' )
//script( src='./js/retina.js' )

script(src='./js/lib/lodash.compat.min.js')
script(src='./js/lib/moment.min.js')
script(src='./js/lib/angular.min.js')
script(src='./js/lib/angular-sanitize.min.js')
script(src='./js/lib/angular-resource.min.js')
script(src='./js/lib/angular-ui-router.min.js')
script(src="./js/lib/angular.ng-modules.js")

script(src='./system/common/util.js')
script(src="./system/common/preload.js")

//- script(src="/twenty/js/lib/skel.min.js")
//- script(src="/twenty/js/lib/skel-layers.min.js")
//- script(src="/twenty/js/lib/init.js")
