.form-box input[type=text],input[type=password]{
	border: 0 #fff solid;
}

.form-box{
	width: 400px;
	margin: 100px auto 0 auto;
	text-align: center;
}

.form-box img{
	width: 75%;
	margin: 15px 0;
}

.form-box .header h2 {
    font-size: 2.5em;
    font-weight: 900;
    letter-spacing: 0.2em;
    margin: 0;
    padding-left: 0.05em;
    position: relative;
    text-transform: uppercase;
    text-align: center;

}
html,body{
	background-color: #323339;
}
.login{
    margin-top: 20px;
}
.install{
    margin-top: 20px;
}
.form-group{
	margin-bottom: 15px;
}

.form-group input{
    padding-left: 20px;
	 margin: 0 auto;
	 background-color: #fff;
	 border: solid 1px #3A3B42;
	 width: 280px;
	 height: 40px;
	 border-radius: 5px !important;
	 color: #666666!important;
}
.form-group input[type=text]{
	color: #fff;
    padding-left: 15px;
}
.form-group input[type=password]{
    color: #fff;
    padding-left: 15px;
}
.form-group input:focus {
	
	border-color: #5d6472 !important;
}
.callout.callout-danger {
	background-color: #292A2E;
	 width: 280px;
	 height: 60px;
	 border-radius: 5px !important;
	 color: #fff;
	 margin: 0 auto;
     border-color:#fff;
     border-left:0px;
}
.Prompt{
	margin-top: 42px;
}
.callout.callout-danger.ng-scope p{
	color: #fff;
	margin-top:5px;
    text-align: center;
    padding-top: 18px;
}
.signin{
    text-align: left;
    padding-left: 59px;
}
.signup{
    text-align: left;
    padding-left: 59px;
}
.btn{
    color: #fff;
    background:#50C971;
    border:1px #50C971 solid;
    height: 38px;
    line-height: 35px;
    text-align: center;
    border-radius: 5px;
    padding: 0 15px;
}

.btn:hover{
    color: #1D903D;
    background:#47C76A;
}
