
.form-box input[type=text],input[type=password]{
	border: 0 #fff solid;
}

.form-box{
	width: 400px;
	margin: 100px auto 0 auto;
	text-align: center;
}

.form-box img{
	width: 65%;
	margin: 15px 0;
}

.form-box .header h2 {
    font-size: 2.5em;
    font-weight: 900;
    letter-spacing: 0.2em;
    margin: 0;
    padding-left: 0.05em;
    position: relative;
    text-transform: uppercase;
    text-align: center;

}
html,body{
	background-color: #2A2D31;
}
p{
    color: #6C6C6C;
    
}
h5{
    color: #6C6C6C;
    text-align: left;
    padding-left: 55px;
}
h3{
    color: #fff;
    text-align: left;
    padding-left: 55px;

}
.login{
    padding-top: 30px;
    width: 260px;
    margin: 0px auto;
}
.install{
    padding-top: 30px;
    width: 260px;
    margin: 0px auto;
}
.form-group{
    text-align: center;
}

.form-group input{
    display: block;
    margin: 0;
    padding: 0 0 0.15em;
    width: 100%;
    border: none;
    border-bottom: 2px solid #232323;
    background-color: transparent;
    text-overflow: ellipsis;
    font-size: 1.1em;
    border-radius: 0;
    margin-bottom: 10px;

}
.form-group input[type=text]{
	color: #666; ;
    padding-left: 15px;
    border-bottom: 2px solid #232323;
    background-color: #fff;
    border-radius: 5px;
    width: 260px;
    height: 40px;
    min-width: 260px;

}
.form-group input[type=password]{
    color: #666;
    padding-left: 15px;
    border-bottom: 2px solid #232323;
    background-color: #fff;
    border-radius: 5px;
    width: 260px;
    height: 40px;
    min-width:260px;

}
.form-group input:focus {
	
	border-bottom: 2px solid #232323;

}
input::-webkit-input-placeholder {
    color:    #C5C5C5;
}
input:-moz-placeholder {
    color:    #C5C5C5;
}
.callout.callout-danger {
	background-color: rgba(31,31,31,0.2);
	 width: 260px;
	 height: 60px;
	 border-radius: 5px !important;
	 margin: 0 auto;
     border-color:#fff;
     border-left:0px;
}
.Prompt{
	margin-top: 20px;
}
.callout.callout-danger.ng-scope p{
	color: #6C6C6C;
	margin-top:5px;
    text-align: center;
    padding-top: 18px;
}
.signin{
    text-align: left;
    padding-top: 10px;
}

.signup{
    text-align: left;
    padding-top: 10px;
}
.btn{
    width: 100%;
    height:40px;
    border:none;
    border-radius: 5px;
    color: #fff;
    font-size: 1.25em;
    line-height: 40px;
    text-align: center;
    background-color: #58C57D;

}
.btn:hover{
    color: #fff;
    background:#4DC074;


}
